<header>
  <div class="header-logo">
    <a href="">TweetApp</a>
  </div>
  <div class="header-menus">
    <ul>
    <li>
        <a href="/about">TweetAppとは</a>
    </li>
    </ul>
  </div>
</header>

<div class="about-main">
    <h2>TweetAppとは</h2>
    <P>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
    </P>
    <img class="about-img" src="tweet.png">
</div>